h1, h2, h3, h4 {
  text-align: center;
}


#player {
  display: table;
  margin: 10px auto;
  
}

.buttons-container {
  display: inline-block;
}

.time {
  margin: 0 5px;
}
#progressBar .slider-selection{
  background: #BABABA;
}

#progressBar{
  width:50%;
}
#progressBar .slider-handle{
height: 0px;
width: 0px;
}

#volume {
width: 100px;
}

#measuresSlider{
  width:50%;
}

#songList li .edit{
  display: none;
}
#songList li.editing .edit{
  display: block;
}

#songList li .view{
  display: block;
}
#songList li.editing .view{
  display: none;
}

/*
   */
