<html>

  <head>
    
      <title>TunaMidi</title>

      
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="css/bootstrap-slider.css">
      <link rel="stylesheet" href="css/bootstrap-touchspin.css">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="css/fontawesome-iconpicker.min.css">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css">
      <link rel="stylesheet" href="css/select2-bootstrap.css">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
      <link rel="stylesheet" href="css/tunamidi.css">
      <link rel="stylesheet" href="css/tunamidi-font.css">
      <script type="text/template" id="songViewTemplate">
<span class="songTitle">  <%= title %></span>
<div class="btn-group">
  <button type="button" data-id="<%= cid %>" class="btn btn-default load">Load</button>
  <button type="button" class="btn btn-default reset">Reset</button>
</div> 
      </script>

  
    <script data-main="scripts/main" src="scripts/lib/require.js"></script>

  </head>
  <body>
      <div class="container">
            <h1>TunaMidi <br clear="all" />
                    <span><a href="http://mudcu.be/midi-js/"><img src="images/tuna.jpg" height="60px" /></a></span>
                        </h1>
          <div id="tunamidi" class="row">
              <div id="sidebar" class="col-md-3">
            <ul id="songList" ></ul>
        </div>
            <div id="playerContainer" class="col-md-9">
            </div>
          </div>
      </div>
      <footer class="footer">
      <div class="container">
              <p class="text-right text-muted"><small> <br>Drag and Drop a MIDI file anywhere to upload.<br>
                  <a href="https://github.com/niquerio/TunaMidi/issues">Submit a Bug or Feature Request</a> |
                  <a href="https://github.com/niquerio">Contact Monique</a> <br>
                      TunaMidi is based on <a href="https://github.com/gasman/jasmid">JasMid</a> by Matt Westcott and <a href="https://github.com/mudcube/MIDI.js/">MidiJS</a> by Michael Deal<br>
                  </small>       
                  </p> 
                  </div>
      </footer>
  </body>
</html>
