<html>

  <head>
    
      <title>TunaMidi2</title>

      
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="css/bootstrap-slider.css">
      <link rel="stylesheet" href="//ivaynberg.github.io/select2/select2-3.5.1/select2.css">
      <link rel="stylesheet" href="css/select2-bootstrap.css">
      <link rel="stylesheet" href="css/tunamidi.css">
      <script type="text/template" id="songViewTemplate">
<span class="songTitle">  <%= title %></span>
<div class="btn-group">
  <button type="button" data-id="<%= cid %>" class="btn btn-default load">Load</button>
  <button type="button" class="btn btn-default reset">Reset</button>
</div> 
      </script>

  
    <script data-main="scripts/main" src="scripts/lib/require.js"></script>

  </head>
  <body>
      <div class="container">
              <h1>TunaMidi 2</h1>
          <div id="tunamidi" class="row">
            <ul id="songList" class="col-md-3"></ul>
            <div id="playerContainer" class="col-md-9">
            </div>
          </div>
      </div>
  </body>
</html>
