<label >Current Measure: </label><span id="currentMeasure"><%= currentMeasure %></span>
<label>Measure Range: </label><span id="measureRange"><%= start %> - <%= finish %></span> <div data-slider-id="measuresSlider" class="set_of_measures"></div>
<button class="btn btn-default <% if(repeat) { %> active <% }%>" id="repeat" type="button" data-toggle="button"><span class="glyphicon glyphicon-repeat"></span></button>
