<div class="buttons-container">
  <button id="play-pause" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-play"></span></button>
  <button id="stop" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-stop"></span></button>
</div>
<span id="currentTime" class="time"><%= currentTime %></span>
<div data-slider-id="progressBar" class="slider"></div>
<span id="duration" class="time"><%= duration %></span>
