<div class="view">
  <span class="title"><%= title %></span>
  <div class="btn-group">
    <button type="button" class="btn btn-default load">Load</button>
    <button type="button" class="btn btn-default destroy">Destroy</button>
  </div> 
</div>
<input type=text class="edit form-control" value="<%= title %>">
